image_caption/Data/Flickr_8K/Images/
image_caption/Data/Flickr_30K/Images/
image_caption/Data/Model/features_*.pkl
image_caption/Data/Vectors/
image_caption/Data/Model/results_*
**/.ipynb_checkpoints/
**/*.png
**/*.hdf5
